

ul {
    position:fixed;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9945;
  }
  
  li {
    float: left;
  }
  
  li a {
    display:flex;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  
  li a:hover {
    background-color: #ff9945;
  }